@import '../scss/index.scss';

h1{
    color: #074943;
} 

.navbar-light{
    .navbar-nav{
        .nav-link{
            color:white
        }
    }
    .navbar-brand{
        color:white
    }
    .navbar-toggler{
        border-color:white
    }
    .navbar-toggler-icon{
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

.modal-dialog{
    max-width: 800px;
}
.card{
    .card-body{
        p{
            min-height: 230px;
            text-align: justify;
        }
    }
}
